<!DOCTYPE html>
<html lang="en">
<head th:include="layout :: head"> </head>
<body>
<div th:include="layout :: navigationPanel" style="padding-top: 50px;"></div>
<div style="margin: auto; width: 50%;">
    <h1>New note:</h1>
    <!--/*@thymesVar id="note" type="kot.sylwester.PAI_projekt.entities.Note"*/-->
    <form th:action="@{/addnote}" class="form-group" method="POST" th:object="${note}">
        <label for="title">Title:</label>
        <input id="title" type="text" class="form-control" th:field="*{title}" placeholder="Title"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red; margin-bottom: 20px;"></span><br>
        <label for="message">Message:</label>
        <textarea id="message" class="form-control" th:field="*{message}" placeholder=""></textarea>
        <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="color: red; margin-bottom: 20px;"></span><br>
        <button class="btn btn-primary btn-block" type="submit">Add note</button>
    </form>
</div>
</body>
</html>