<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <title>Notes App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:href="@{/styles/card.css}" rel="stylesheet">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous">
    </script>

</head>

<body style="padding-top:50px;" th:fragment="body(heading, content)">
<!-- Nav Bar -->

<div th:fragment="navigationPanel">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/profile}">Welcome page</a>
                <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/allnotes}">All notes</a>
                <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/mynotes}">My notes</a>
                <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/addnote}">Add note</a>
                <a class="navbar-brand" sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a>
                <a class="navbar-brand" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/edit}">Edit user</a>
                <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Body -->
<div class="container">
    <h1 th:replace="${heading}">Page Heading</h1>

    <hr />

    <th:block th:replace="${content}" />

</div>
<!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous">
</script>

</body>

</html>